:root {
    --color-dodgerblue-10l: hsl(215 100% 95%); // #E7F1FF
    --color-dodgerblue-9l: hsl(216 100% 91%); // #D0E3FF
    --color-dodgerblue-8l: hsl(215 100% 86%); // #B9D6FF
    --color-dodgerblue-7l: hsl(215 100% 82%); // #A2C8FF
    --color-dodgerblue-6l: hsl(215 100% 77%); // #8BBBFF
    --color-dodgerblue-5l: hsl(215 100% 73%); // #73ADFF
    --color-dodgerblue-4l: hsl(215 100% 68%); // #5CA0FF
    --color-dodgerblue-3l: hsl(215 100% 64%); // #4592FF
    --color-dodgerblue-2l: hsl(215 100% 59%); // #2E85FF
    --color-dodgerblue-1l: hsl(215 100% 55%); // #1777FF
    --color-dodgerblue-main: hsl(215 100% 50%); // #006AFF // Base color
    --color-dodgerblue-1d: hsl(215 100% 45%); // #0061E8
    --color-dodgerblue-2d: hsl(215 100% 41%); // #0057D1
    --color-dodgerblue-3d: hsl(215 100% 36%); // #004EBA
    --color-dodgerblue-4d: hsl(215 100% 32%); // #0044A3
    --color-dodgerblue-5d: hsl(215 100% 27%); // #003A8C
    --color-dodgerblue-6d: hsl(215 100% 23%); // #003174
    --color-dodgerblue-7d: hsl(215 100% 18%); // #00275D
    --color-dodgerblue-8d: hsl(215 100% 14%); // #001D46
    --color-dodgerblue-9d: hsl(214 100% 9%); // #00142f
    --color-dodgerblue-10d: hsl(215 100% 5%); // #000A18
}